<% provide :title do %><%= t("devise_views.confirmations.show.title") %><% end %>
<h1 class="text-center"><%= t("devise_views.confirmations.show.title") %></h1>

<p><%= sanitize(t("devise_views.confirmations.show.instructions", email: resource.email)) %></p>

<p><%= @user.errors.inspect %></p>

<%= render "devise/shared/links" %>
