<div class="flex items-center justify-center h-screen" data-controller="payment-status">
  <div class="bg-gray-100 rounded-lg p-6 sm:p-8 w-full">
    <h2 class="text-2xl font-bold mb-4">Crypto Payment Processing</h2>
    <h3 class="font-bold mb-4">Please don't close this page</h3>
    <div class="grid gap-6">
      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="wallet-address">
          Wallet Address
        </label>
        <div class="flex items-center">
          <div class="flex-1">
            <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" type="text" id="wallet-address" value=<%= @wallet_address %> readonly />
          </div>
        </div>
      </div>
      <div class="grid gap-2">
        <div class="text-gray-500 dark:text-gray-400">Amount to Send</div>
        <div class="font-medium text-2xl whitespace-nowrap"><%= format_estimated_price %> <%= @currency.upcase %></div>
      </div>
      <div class="grid gap-2">
        <div class="text-gray-500 dark:text-gray-400">Current Status</div>
        <div class="font-medium text-2xl whitespace-nowrap" data-payment-status-target="currentStatus">Initiated</div>
      </div>
      <div class="grid gap-2">
        <div class="text-gray-500 dark:text-gray-400">Crypto Network</div>
        <div class="font-medium whitespace-nowrap"><%= @currency.upcase %></div>
      </div>
      <div class="flex items-center justify-center">
        <div class="bg-white dark:bg-gray-400 rounded-lg p-6 shadow-lg">
          <%= image_tag(@qr_code.to_data_url) %>
        </div>
      </div>
      <div class="text-sm text-gray-500 dark:text-gray-400 text-center">
        Processing your payment. Please wait
      </div>
    </div>
  </div>
</div>