<div class="container">
  <ul role="list" class="grid grid-cols-3 gap-x-4 gap-y-8 sm:grid-cols-4 ">
    <% @properties.each do |property| %>
      <%= link_to property_path(property)  do %>
      <li class="relative">
        <div class="group block aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
          <img src="https://visitutahkenticoprod.blob.core.windows.net/cmsroot/visitutah/media/site-assets/winter-photography/ski-resorts/snowbasin/powder_ski_snowbasin-resort_2022.jpg" alt="Property image" class="object-cover rounded-lg">
          <button type="button" class="inset-0">
            <span class="sr-only">View details for <%= property.name %></span>
          </button>
        </div>
          <p class="mt-2 flex justify-between block text-sm font-medium text-gray-900 truncate">
            <%= property.city %>, <%= property.state%>
            <span class="block text-sm font-medium text-gray-500 pointer-events-none text-black">
              <%= format_average_rating(property.average_rating) %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block relative" style="bottom: 2px;">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
              </svg>
            </span>
          </p>
          <p class="block text-sm font-medium text-gray-500 pointer-events-none">7,444km away</p>
          <p class="block text-sm font-medium text-gray-500 pointer-events-none">Jun 19 - 24</p>
          <p class="block text-sm font-medium text-gray-500 pointer-events-none"><span class="text-black">$<%= property.price %></span> per night</p>
      </li>
    <% end %>
      <% end %>
  </ul>
</div>