<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AirbnbClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if controller_name == "properties" && action_name == "show" %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.0/air-datepicker.min.css">
      <% end %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
  <!--
// v0 by Vercel.
// https://v0.dev/t/TuHB0eWVwgi
-->

<header class="bg-white  shadow">
  <div class="container mx-auto flex items-center justify-between py-4 px-4 md:px-6">
    <a class="flex items-center gap-2" href="/home">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="red"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6"
      >
        <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
      </svg>
      <span class="sr-only">Airbnb</span>
    </a>
    <div class="relative flex-1 max-w-[500px] md:mx-8" data-form-type="">
      <input
        class="flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pr-12 pl-10 w-full"
        placeholder="Start your search"
        type="text"
        data-form-type=""
      />
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-5 w-5 text-gray-400"
        >
          <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
          <circle cx="12" cy="10" r="3"></circle>
        </svg>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2 pointer-events-none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-5 w-5 text-gray-400"
        >
          <path d="M8 2v4"></path>
          <path d="M16 2v4"></path>
          <rect width="18" height="18" x="3" y="4" rx="2"></rect>
          <path d="M3 10h18"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-5 w-5 text-gray-400"
        >
          <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
          <circle cx="9" cy="7" r="4"></circle>
          <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
          <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
        </svg>
      </div>
    </div>
    <div class="flex items-center gap-4">
      <a
        class="hidden md:inline-flex items-center gap-2 text-sm font-medium hover:underline underline-offset-4"
        href="#"
      >
        Become a Host
      </a>
      <nav
        aria-label="Main"
        data-orientation="horizontal"
        dir="ltr"
        class="relative z-10 flex max-w-max flex-1 items-center justify-center"
      >
        <div style="position: relative;">
          <ul
            data-orientation="horizontal"
            class="group flex flex-1 list-none items-center justify-center space-x-1"
            dir="ltr"
          >
            <li>
              <a
                href="/properties"
                class="px-4 py-2 rounded-md hover:bg-red-100 dark:hover:bg-red-500"
                data-radix-collection-item=""
              >
                Hosting
              </a>
            </li>
            <li>
              <a
                href="#"
                class="px-4 py-2 rounded-md hover:bg-red-100 dark:hover:bg-red-500"
                data-radix-collection-item=""
              >
                Trips
              </a>
            </li>
            <li>
              <a
                href="#"
                class="px-4 py-2 rounded-md hover:bg-red-100 dark:hover:bg-red-500"
                data-radix-collection-item=""
              >
                Wishlists
              </a>
            </li>
            <li>
              <a
                href="#"
                class="px-4 py-2 rounded-md hover:bg-red-100 dark:hover:bg-red-500"
                data-radix-collection-item=""
              >
                Profile
              </a>
            </li>
          </ul>
        </div>
        <div class="absolute left-0 top-full flex justify-center"></div>
      </nav>
    </div>
  </div>
</header>

  <% flash.each do |name, msg| %>
  <p><%= name%></p>
  <p><%= msg %></p>
    <%= content_tag :div, msg, class: name %>
  <% end %>
  <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
